@if (Hidden == false)
{
	if (partidosPoliticos == null || candidatosPoliticos == null || hojasDeVida == null || Results == null || winnerResults == null)
	{
		<p><em>Cargando...</em></p>
	}
	else
	{
		<h1>Resultados:</h1>
		<p>Partidos políticos que cumplen todos tus criterios: @agreed de @Results.Count()</p>

		<hr>

		@foreach (var winnerResult in winnerResults)
		{
			if (winnerResult != null)
			{
				PartidoPolitico winnerPartido = partidosPoliticos.Where(x => x.idOrganizacionPolitica == winnerResult.Id).FirstOrDefault();
				var president = candidatosPoliticos?.FirstOrDefault(x => x.idSolicitudLista == winnerPartido.idSolicitudLista &&
				x.idCargoEleccion == 1);
				var vicepres1 = candidatosPoliticos?.FirstOrDefault(x => x.idSolicitudLista == winnerPartido.idSolicitudLista &&
				x.idCargoEleccion == 2);
				var vicepres2 = candidatosPoliticos?.FirstOrDefault(x => x.idSolicitudLista == winnerPartido.idSolicitudLista &&
				x.idCargoEleccion == 3);


				<h2 width="100%">@winnerResult.Name</h2>
				<div class="ParentColumns">
					<div class="ColumnThird">
						<img src="@winnerResult.ImageRoute" alt="Logo" height="100px" width="100px" />
					</div>
					<div class="ColumnTwoThirds">
						<p>Cumple tus criterios: @(winnerResult.Agree?"100":$"{winnerResult.AgreePercentage:0.##}")%</p>
						<p>
							Estado de inscripción:
							<strong class="@winnerPartido.strEstadoLista">@winnerPartido.strEstadoLista</strong>
						</p>
					</div>
				</div>

				<br />

				<h3>Candidatos</h3>

				<div class="ParentColumns">
					<div class="ColumnThird" style="padding:10px">
						<HojaDeVidaComponent Title="Presidente de la República" Candidate="@president" HojasDeVida="@hojasDeVida"/>
					</div>
					<div class="ColumnThird" style="padding:10px">
						<HojaDeVidaComponent Title="Primer Vicepresidente de la República" Candidate="@vicepres1" HojasDeVida="@hojasDeVida" />					

					</div>
					<div class="ColumnThird" style="padding:10px">
						<HojaDeVidaComponent Title="Segundo Vicepresidente de la República" Candidate="@vicepres2" HojasDeVida="@hojasDeVida" />
					</div>
				</div>

				<h3>Plan de gobierno</h3>
				<a target="_blank" href="sample-data/@(winnerPartido.strCarpeta+winnerPartido.idPlanGobierno+".pdf")">
					Link plan de gobierno completo
				</a>

				<hr>
			}
		}

		<style type="text/css">
			.INSCRITO {
				background-color: palegreen;
			}

			.ADMITIDO {
				background-color: palegreen;
			}

			.IMPROCEDENTE {
				background-color: palevioletred;
			}

			.APELACIÓN {
				background-color: lightyellow;
			}

			.TACHA {
				background-color: lightyellow;
			}

			.Si {
				background-color: palegreen;
			}

			.No {
				background-color: palevioletred;
			}

			.ColumnThird {
				float: left;
				width: 33%;
				align-content: center;
				text-align: center;
				display: table-cell;
			}

			.ColumnTwoThirds {
				float: left;
				width: 67%;
				display: table-cell;
			}
			.ParentColumns {
				overflow: hidden;
				width: 100%;
				display: table;
			}

		</style>

	}
}

@code {
	[Parameter]
	public List<Result> Results { get; set; }

	[Parameter]
	public List<PartidoPolitico> partidosPoliticos { get; set; }

	[Parameter]
	public List<CandidatoGeneral> candidatosPoliticos { get; set; }

	[Parameter]
	public List<HojaDeVida> hojasDeVida { get; set; }

	[Parameter]
	public bool Hidden
	{
		get
		{
			return hidden;
		}
		set
		{
			if (value == false)
			{
				UpdateResults();
			}

			hidden = value;
		}
	}

	private bool hidden;

	private int agreed = 0;

	private List<Result> winnerResults = new List<Result>();

	private void UpdateResults()
	{
		Results = Results.OrderByDescending(x => x.Agree).ThenByDescending(x => x.AgreePercentage).ToList();
		agreed = Results.Count(x => x.Agree == true);

		if (agreed > 0)
		{
			for (var i = 0; i < agreed; i++)
			{
				winnerResults.Add(Results[i]);
			}
		}
		else
		{
			winnerResults.Add(Results[0]);

			if(Results[0].AgreePercentage == Results[1].AgreePercentage)
			{
				winnerResults.Add(Results[1]);
			}
			if (Results[0].AgreePercentage == Results[2].AgreePercentage)
			{
				winnerResults.Add(Results[2]);
			}
			if (Results[0].AgreePercentage == Results[3].AgreePercentage)
			{
				winnerResults.Add(Results[3]);
			}
			if (Results[0].AgreePercentage == Results[4].AgreePercentage)
			{
				winnerResults.Add(Results[4]);
			}

		}

	}
}
