<link href="css/card.css" rel="stylesheet" />

<div id="card-container" hidden="@Hide">
	@if (Questions != null && Questions.Count > 0)
	{
		<div id="card-content">
			<h1>
				@Questions[CurrentQuestion].Title
			</h1>
			<div class="description">
				@Questions[CurrentQuestion].Description
			</div>

			<form>
				@foreach (var option in Questions[CurrentQuestion].Options)
				{
					<input type="radio" id="@option" name="option" value="@option" @onchange="SelectionChanged">
					<label for="@option">@option</label><br>
				}

				<input type="radio" id="sin-importancia" name="option" value="sin-importancia" @onchange="SelectionChanged">
				<label for="sin-importancia">Sin importancia</label><br>
			</form>

			<button class="btn btn-primary" @onclick="OnNext">Siguiente</button>

		</div>
	}
</div>


@code {
	[Parameter]
	public List<Question> Questions { get; set; }

	private int CurrentQuestion = 0;

	private string selectedAnswer = "";

	private bool Hide = false;

	private void SelectionChanged(ChangeEventArgs args)
	{
		selectedAnswer = args.Value.ToString();
	}

	private void OnNext()
	{
		Questions[CurrentQuestion].Next(selectedAnswer);
		if((CurrentQuestion + 1) < Questions.Count)
		{
			CurrentQuestion++;
		}
		else
		{
			Hide = true;
		}

	}
}
