<h4>@((MarkupString)Title)  <button @onclick="HideShow">@(shown?"Mostrar":"Ocultar") </button>  </h4>

<div hidden="@shown">

	@if (PlanDeGobierno == null)
	{
		<p>Resumen de plan de gobierno no está disponible</p>
	}
	else
	{


		@if (PlanDeGobierno.ListPGDSocial != null && PlanDeGobierno.ListPGDSocial.Count() > 0)
		{
			<h5>I. Dimensión social</h5>

			foreach (var item in PlanDeGobierno.ListPGDSocial)
			{
				<h6><strong>@item.strPGProblema.ToLower()</strong></h6>

				<p><u>Objetivo:</u> @item.strPGObjetivo.ToLower()</p>

				<p><u>Indicador:</u> @item.strPGIndicador.ToLower()</p>

				<p><u>Meta:</u> @item.strPGMeta.ToLower()</p>
			}
		}

		@if (PlanDeGobierno.ListPGDEconomica != null && PlanDeGobierno.ListPGDEconomica.Count() > 0)
		{
			<h5>II. Dimensión económica</h5>

			foreach (var item in PlanDeGobierno.ListPGDEconomica)
			{
				<h6><strong>@item.strPGProblema.ToLower()</strong></h6>

				<p><u>Objetivo:</u> @item.strPGObjetivo.ToLower()</p>

				<p><u>Indicador:</u> @item.strPGIndicador.ToLower()</p>

				<p><u>Meta:</u> @item.strPGMeta.ToLower()</p>
			}
		}

		@if (PlanDeGobierno.ListPGDAmbiental != null && PlanDeGobierno.ListPGDAmbiental.Count() > 0)
		{
			<h5>III. Dimensión territorial-ambiental</h5>

			foreach (var item in PlanDeGobierno.ListPGDAmbiental)
			{
				<h6><strong>@item.strPGProblema.ToLower()</strong></h6>

				<p><u>Objetivo:</u> @item.strPGObjetivo.ToLower()</p>

				<p><u>Indicador:</u> @item.strPGIndicador.ToLower()</p>

				<p><u>Meta:</u> @item.strPGMeta.ToLower()</p>
			}
		}

		@if (PlanDeGobierno.ListPGDInstitucional != null && PlanDeGobierno.ListPGDInstitucional.Count() > 0)
		{
			<h5>IV. Dimensión institucional</h5>

			foreach (var item in PlanDeGobierno.ListPGDInstitucional)
			{
				<h6><strong>@item.strPGProblema.ToLower()</strong></h6>

				<p><u>Objetivo:</u> @item.strPGObjetivo.ToLower()</p>

				<p><u>Indicador:</u> @item.strPGIndicador.ToLower()</p>

				<p><u>Meta:</u> @item.strPGMeta.ToLower()</p>
			}
		}

		@if (PlanDeGobierno.ListPTDPropuesta != null && PlanDeGobierno.ListPTDPropuesta.Count() > 0)
		{
			<h5>Propuestas</h5>

			<ul>
				@foreach (var item in PlanDeGobierno.ListPTDPropuesta)
				{
				<li>@item.strPGProblema.ToLower()</li>
				}
			</ul>

			
		}



	}

</div>

@code {
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public PlanDeGobierno PlanDeGobierno { get; set; }

	private bool shown = true;

	private void HideShow()
	{
		shown = !shown;
	}
}
